body{
    background: url('http://www.baltana.com/files/wallpapers-18/Cyberpunk-2077-Yellow-Plain-Background-Wallpaper-45600.jpg');
    margin: 0;
    padding: 0;
}
.header{
    background-color: #70ecff;
}
.alg{
    text-decoration: none;
    text-align: center;
    margin-left: 23%;
}
.nshop{
    font-size: 40px;
    color: white;
    font-family: 'Fondamento', cursive;
    position: relative;
    bottom: 25px;
}
.search{
    position: absolute;
    top: 5%;
    left: 42%;
}
.itext{
    padding: 5px 40px;
}
.bsearch{
    background-color: blue;
    color: white;
}
.log{
    position: absolute;
    right: 30%;
    top: 5%;
}
.login{
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    color: black;
}
.login:hover{
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    transition: 0.6s ease;
    color: black;
}
.signup{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px;
    background-color: #006EFF;
    border-radius: 10px;
}
.signup:hover{
    border-radius: 10px;
    background-color: purple;
    transition: 0.6s ease;
}
.agh{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 4%;
    right: 20%;
    border: black solid 2px;
    text-align: center;
    background-color: white;
}
.tgh{
    position: relative;
    bottom: 10px;
}
.agh:hover{
    background-color: red;
    transition: 0.6s ease;
}
.menu{
    margin: auto;
    text-align: center;
}
.menu ul{
    list-style-type: none;
}
.menu a{
    text-decoration: none;
}
.hiddenmenu{
    margin-right: 3%;
    position: absolute;
    background-color: black;
    border-radius: 10px;
    display: none;
}
.list{
    display: inline-table;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 5%;
    position: relative;
}
.list:hover .hiddenmenu{
    display: block;
}
.hiddenmenu a{
    color: white;
}
.hiddenmenu li{
    padding: 10px;
}
.content{
    width: 80%;
    margin: auto;
    border: black 2px solid;
    background-color: white;
}
.layoutgame{
    display: flex;
}
.layout{
    width: 18%;
    border: 2px solid black;
    margin: 2%;
}
.layout:hover{
    box-shadow: 5px 5px  gray;
    transition: 0.8s ease;
}
.img{
    width: 100%;
}
.gamename{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
}
.gamename:hover{
    color: red;
}
.price{
    text-align: center;
    font-size: 20px;
}
.link-buy{
    text-decoration: none;
    border: 2px solid #21BEFF;
    color: #21BEFF;
    padding: 10px;
}
.buy{
    text-align: center;
    font-size: 20px;
}
.link-buy:hover{
    background-color: #21BEFF;
    color: white;
}
.xt{
    text-align: center;
}
.axt{
    text-decoration: none;
    background-color: #21BEFF;
    color: white;
    padding: 10px;
    font-size: 25px;
}